html, body {
	background: #555;
	font-family: "Fira code";
	font-size: 1.2em;
	margin: 0;
	padding: 0;
}

#calculator {
	background: #9BAAAD;
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 10rem;
	left: 36rem;
	width: 22rem;
	height: 38rem;
	border-radius: 0.2rem;
	/*box-shadow: 0 2rem #7E8E91;*/
	box-shadow: 0.5rem 0.5rem #444;
	user-select: none;
}

#head, #body {
	flex: 1;
}

#head {
	display: flex;
	flex-direction: column;
}

#headTop {
	flex: 1;
	display: flex;
}

#casio {
	flex: 0.5;
	/*text-align: center;*/
	width: 8rem;
	height: 1.6rem;
	position: relative;
	top:1.1rem;
	left: 1.3rem;
}

#solar {
	flex: 1;
	padding: 0.2rem;
}

#solarPanel {
	background: black;
	width: 160px;
	height: 45px;
	position: relative;
	margin-left: 4.4rem;
	top: .6rem;
	display: flex;
}

.solarBox {
	background: #862323;
	flex: 1;
	margin: 1px;
	display: block;
}

#headBot {
	flex:2;
	background: #7E8E91;
	border-radius: .2rem;
}

#display {
	background: #267626;
	width: 90%;
	height: 80%;
	position: relative;
	top: .7rem;
	left: 1.2rem;
	box-shadow: inset 0 0 .6rem #000000;
	display: relative;
	flex-direction: column;
	overflow: hidden;
}

.displaySection {
	flex:1;
	height: 2.3rem;
	padding: 0.35rem 0.5rem;
	font-size: 1.5em;
}

#displayBot {
	text-align: right;
	font-size: 1.8em;
	padding-top: 0;
}

#body {
	padding: 1.5rem 0rem 1.5rem;
	text-align: center;
}

#keyArea {
	margin: auto;
	width: 90%;
}

#operands {
	margin-top: 1rem;
}

.key {
	background: #2D7092;
	color: white;
	display: inline-block;
	/*padding: 0.5rem 2rem;*/
	text-align: center;
	width: 4rem;
	padding: 0.5rem 0;
	border-radius: 0.2rem;
	margin: 0.4rem 0.8rem;
	box-shadow: 0 0.3rem #1B5775;
	transition: all 0.1s ease;
	background-image: linear-gradient(to right, #165676, #2D7092, #165676);
}

.key:hover {
	cursor: pointer;
}

.key:active {
	background: #1B5775;
	box-shadow: 0 0 #1B5775;
	transform: translateY(0.3rem);
}

.fkey {
	background: #993838;
	background-image: linear-gradient(to right,#782C2C, #993838, #782C2C);
	box-shadow: 0 0.3rem #7B2626;
	color: white;
}

.fkey:active {
	background: #7B2626;
	box-shadow: 0 0 #7B2626;
	transform: translateY(0.3rem);	
}